*.class

# Package Files #
*.jar
*.war
*.ear
/JavaFXApplication13/dist/
/JavaFXApplication13/nbproject/private/
/tareaFinal/nbproject/private/
/tareaFinal/build/
/tareaFinal/dist/
/ordenamientoAlgoritmo/nbproject/private/
/ordenamientoAlgoritmo/build/
/FXML-LoginDemo/nbproject/private/
/FXML-LoginDemo1/nbproject/private/
/FXML-LoginDemo1/build/
/FXML-LoginDemo1/dist/
/FxConexionMySql/nbproject/private/
/FxconexionMySql/build/
/FxConexionMySql/build/
/FxconexionMySql/dist/
/FxConexionMySql/dist/